.pagination {
	margin: 40px 0;
	ul {
		display: flex;
		justify-content: center;
	}

	li {
		&:not(:last-child) {
			margin-right: 20px;
		}

		&.active {
			button {
				background-color: #53bf67;
				color: #ffffff;
				font-weight: 600;
				border-color: transparent;
			}
		}
	}

	button {
		width: 32px;
		height: 32px;
		border: 1px solid #f2f2f2;
		border-radius: 50%;
	}
}