.button {
	padding: 18px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	&.left {
		flex-direction: row-reverse;

		svg {
			transform: rotate(180deg);
		}

		&:hover {
			svg {
				transform:  translateX(-5px) rotate(180deg);
			}
		}
	}

	&.right {
		flex-direction: row;
	}

	span {
		flex-grow: 1;
	}

	svg {
		width: 16px;
		height: 14px;
		transition:  transform 0.15s ease-in-out;
	}
	
	&:hover {
		svg {
			transform: translateX(5px);
		}
	}
}