.form {
	position: relative;

	svg {
		position: absolute;
		left: 18px;
		top: 50%;
		transform: translateY(-50%);
		width: 14.25px;
		height: 14.25px;
	}
}

.search {
	min-height: 45px;
	border: 1px solid #F3F3F3;
	border-radius: 10px;
	padding-left: 45px;
	padding-right: 10px;
	outline: transparent;

	&:focus {
		border-color: #fef0f0;
	}
}